{{template "base.html" .}}

{{define "title" -}}
    Sign in
{{end}}

{{define "body" -}}
    <script src="/public/js/auth.js" type="module"></script>

    <main class="vBox justifyContentCentre wFull hFull">
        <div class="hBox justifyContentCentre wFull hFit">
            <div class="vBox wFit hFit">
                <h1 class="mTop0 mBottom">Sign in</h1>

                <div class="hBox wFit hFit mBottom">
                    <div class="vBox mRight">
                        <label class="grow flex alignItemsCentre mBottom" for="email">Email</label>
                        <label class="grow flex alignItemsCentre" for="password">Password</label>
                    </div>
                    <div class="vBox">
                        <input id="email" class="grow flex alignItemsCentre mBottom" name="email" type="email" autocomplete="email" autocapitalize="false" autofocus="true"/>
                        <input id="password" class="grow flex alignItemsCentre" name="password" type="password" autocomplete="new-password" autocapitalize="true"/>                    
                    </div>
                </div>

                <div class="vBox wFit hFit mBottom">
                    <a href="/auth/signup">Don't have an account yet? Sign up here.</a>
                </div>

                <button onclick="auth.signin()" type="button">Sign in</button>
            </div>
        </div>
    </main>
{{end}}