<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="/public/css/shared.css">
        
        <title>{{block "title" .}}{{end}}</title>

        {{block "head" .}}{{end}}
    </head>

    <body>
        <script>
            window.frontendRoutes = {}
            window.backendRoutes = {}

            {{range $key, $value := .FrontendRoutes -}}
                window.frontendRoutes["{{$key}}"] = "{{$value}}"
            {{end}}

            {{range $key, $value := .BackendRoutes -}}
                window.backendRoutes["{{$key}}"] = "{{$value}}"
            {{end}}
        </script>

        {{block "body" .}}{{end}}
    </body>
</html>